<div class="row">
  <div class="column_left">
    <mat-card>
      <ace-editor [(ngModel)]="userInput" style="height:450px; width:auto"></ace-editor>
      <br />
      <button mat-stroked-button (click)="onSubmit()">Run Code</button>
      <button mat-stroked-button class="clear_button" (click)="clearCanvas()">Clear Canvas</button>
    </mat-card>
  </div>
  <br />
  <div class="column_right">
  <mat-card>
    <p class="angular-linebreaks" *ngIf="this.hasSubmit" [ngClass]="{'red': !this.isValid, 'green': this.isValid}">
      {{errorOut}}
    </p>
    <div #canvasContainer>
      <canvas #sCanvas></canvas>
    </div>
  </mat-card>
  </div>
</div>
